
@{

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@{ ViewData["Title"] = "Trang chủ"; }

<div class="container-fluid">
    <h1 class="mt-4">Bảng thống kê</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Sách</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@ViewBag.SoLuongSach</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Độc Giả</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@ViewBag.SoLuongDocGia</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Phiếu Mượn</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@ViewBag.SoLuongPhieuMuon</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Doanh Thu</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@ViewBag.DoanhThutong</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-header"><i class="fas fa-chart-area mr-1"></i><strong>Biểu đồ doanh thu năm 2021</strong></div>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['2021', 'Doanh Thu'],
                ['Tháng 1', @ViewBag.DoanhThu],
                ['Tháng 2', @ViewBag.DoanhThut2],
                ['Tháng 3', @ViewBag.DoanhThut3],
                ['Tháng 4', @ViewBag.DoanhThut4],
                ['Tháng 5', @ViewBag.DoanhThut5],
                ['Tháng 6', @ViewBag.DoanhThut6],
                ['Tháng 7', @ViewBag.DoanhThut7],
                ['Tháng 8', @ViewBag.DoanhThut8],
                ['Tháng 9', @ViewBag.DoanhThut9],
                ['Tháng 10', @ViewBag.DoanhThut10],
                ['Tháng 11', @ViewBag.DoanhThut11],
                ['Tháng 12', @ViewBag.DoanhThut12]
            ]);

            var options = {
                chart: {
                    title: ' ',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>
<body>
    <div id="columnchart_material" style="width: 1200px; height: 500px;"></div>
</body>
</html>
<div class="card-header"><i class="fas fa-chart-area mr-1"></i><strong>Biểu đồ thống Kê Phiếu mượn năm 2021</strong></div>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['2021', 'Phiếu mượn '],
                ['Tháng 1', @ViewBag.PhieuMuon],
                ['Tháng 2', @ViewBag.PhieuMuon2],
                ['Tháng 3', @ViewBag.PhieuMuon3],
                ['Tháng 4', @ViewBag.PhieuMuon4],
                ['Tháng 5', @ViewBag.PhieuMuon5],
                ['Tháng 6', @ViewBag.PhieuMuon6],
                ['Tháng 7', @ViewBag.PhieuMuon7],
                ['Tháng 8', @ViewBag.PhieuMuon8],
                ['Tháng 9', @ViewBag.PhieuMuon9],
                ['Tháng 10', @ViewBag.PhieuMuon10],
                ['Tháng 11', @ViewBag.PhieuMuon11],
                ['Tháng 12', @ViewBag.PhieuMuon12]
            ]);

            var options = {
                chart: {
                    title: '',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material1'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>
<body>
    <div id="columnchart_material1" style="width: 1200px; height: 500px;"></div>
</body>
</html>
